Django==1.9.8
psycopg2
Pillow
#django-autoslug
#djangorestframework
#markdown
#django-filter
#django-tinymce
#django-allauth
django-bootstrap3
#django-cors-headers
#six
django-extensions
pygraphviz==1.2