{% extends "account/base.html" %}

{% load i18n %}
{% load bootstrap3 %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}
{% block account_nav_change_password %}active{% endblock %}

{% block account_content %}
	<style text='css'>
	  button[type="submit"] {
	    -webkit-appearance: none;
	    color: white;
	    background: black;
	    font-family: "Proxima Nova", Helvetica, Arial, sans-serif;
	    font-size: 16px;
	    font-weight: 700;
	    width: 180px;
	    height: 47px;
	    outline: none;
	    text-rendering: geometricPrecision;
	    -webkit-font-smoothing: antialiased;
	    -moz-osx-font-smoothing: grayscale;
	    -webkit-transition: opacity .08s ease-in-out;
	    -moz-transition: opacity .08s ease-in-out;
	    transition: opacity .08s ease-in-out
	}

	button[type="submit"]:hover {
	    cursor: pointer;
	    opacity: .8;
	    background: black;
	}

	button[type="submit"][disabled] {
	    opacity: .2;
	    cursor: not-allowed
	}
	</style>
    <form method="POST" action="" class="password_change">
        {% csrf_token %}
        {% bootstrap_form password_change_form %}
        <div class="form-actions">
          <button class="btn btn-primary" type="submit" name="action">{% trans "Change Password" %}</button>
        </div>
    </form>
{% endblock %}
