
{% extends "bases/profile_navigation.html" %}

{% load i18n %}
{% load bootstrap3 %}
{% load account socialaccount %}
{% load staticfiles %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<link rel="stylesheet" href='{% static "css/profile/password_reset.css" %}' type="text/css">
<div id="application-wrapper" data-controller="application" data-action="reset_password">
  <div class="header-spacer"></div>

    <div id="container" class="haslayout">

      <div class="content haslayout">
        <div class="box">
          <header>
            <h3>{% trans "Password Reset" %}</h3>
            {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
            {% endif %}
            <p style="font-size:15px">{% trans "We have sent you an e-mail. Please contact us if you do not receive it within a few minutes."  %}</p>

          </header>

         
        </div>
    </div>
  </div>
</div>


{% endblock %}

{% block appjs_jquery %}
    <script>
        $("#id_email").focus();
    </script>
{% endblock %}
